<!--
{% load static %}

<div class="position-relative d-flex align-items-center p-5" style="background-color: #28a745; border-radius: 10px; overflow: hidden;">
    <div class="text-white w-50">
        <h1 class="fw-bold">Currency Conversion at Your Fingertips</h1>
        <p class="fs-5 mt-3">
            Our platform allows you to convert your money between different currencies. Designed for ease and efficiency, 
            it ensures that your transactions are completed with just a few taps.
        </p>
    </div>
    <div class="position-absolute bottom-0 end-0">
        <img src="{% static 'images/my_guy.png' %}" alt="Currency Conversion" class="img-fluid" style="max-height: 10%; max-width: 700px; transform: translateY(20%); ">
    </div>
</div> 
-->