{% load static %}

<div class="container-fluid bg-success text-white py-5" style="border-radius: 10px; overflow: hidden;">
    <div class="row align-items-center">
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="fw-bold">Join the Future of Finance</h1>
            <p class="lead">Convert and transfer funds to your bank account with a platform designed for your convenience.</p>
            <div class="d-flex justify-content-center justify-content-lg-start gap-3 mt-4">
                <a href="#" class="btn btn-light btn-lg d-flex align-items-center">
                    <img src={% static "images/google-play-store.webp" %} alt="Google Play" class="me-2" style="height: 20px;">
                    <div>
                        <span style="font-size: 0.8rem; color: gray; line-height: 1;">Get it on <br /> </span>
                        <span style="font-weight: bold; font-size: 1rem; line-height: 1;">Google Play </span>
                    </div>
                </a>
                <a href="#" class="btn btn-light btn-lg d-flex align-items-center">
                    <img src={% static "images/apple-icon-4.png" %} alt="App Store" class="me-2" style="height: 20px;">
                    <div>
                        <span class="m-0 p-0" style="font-size: 0.8rem; color: gray; line-height: 1;">Get it on <br /> </span>
                        <span class="m-0 p-0" style="font-weight: bold; font-size: 1rem; line-height: 1;">App Store </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 text-center mt-4 mt-lg-0">
            <img src="{% static 'images/my_guys.png' %}"  alt="Finance Banner" class="img-fluid" style="max-height: 15%; max-width: 300px; transform: translateY(10%);">
        </div>
    </div>
    <div class="col-lg-6 text-center mt-4 mt-lg-0">
        <img src="{% static 'images/my_guys.png' %}"  alt="Finance Banner" class="img-fluid" style="max-height: 15%; max-width: 300px; transform: translateY(10%);">
    </div>
  </div>