<!--
{% load static %}

<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
        <!- Feature 1 ->
        <div class="col">
            <div class="card border-0 text-center h-100">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Fast Settlements</h5>
                    <p class="card-text">
                        Experience rapid transaction processing, ensuring your funds are available when you need them, without delays or complications.
                    </p>
                </div>
                <img src="{% static 'images/travel_guide.png' %}" class="card-img-top img-fluid" alt="Fast Settlements">
            </div>
        </div>
        <!- Feature 2 ->
        <div class="col">
            <div class="card border-0 text-center h-100">
                
                <div class="card-body">
                    <h5 class="card-title fw-bold">Easy Conversion</h5>
                    <p class="card-text">
                        Seamlessly convert between local and international currencies with our intuitive platform, designed for both novice and experienced users.
                    </p>
                </div>
                <img src="{% static 'images/convert_guy.png' %}" class="card-img-top img-fluid" alt="Easy Conversion">
            </div>
        </div>
        <!- Feature 3 ->
        <div class="col">
            <div class="card border-0 text-center h-100">
                <div class="card-body">
                    <h5 class="card-title fw-bold">No KYC</h5>
                    <p class="card-text">
                        Enjoy hassle-free access to our services, without the need for intrusive identity verification processes.
                    </p>
                </div>
                <img src="{% static 'images/no_kyc.png' %}" class="card-img-top img-fluid" alt="No KYC">
            </div>
        </div>
        <!- Feature 4 ->
        <div class="col">
            <div class="card border-0 text-center h-100">
                <div class="card-body">
                    <h5 class="card-title fw-bold">24/7 Support</h5>
                    <p class="card-text">
                        Need assistance? Our dedicated customer support team is available around the clock to provide you with prompt and helpful assistance.
                    </p>
                </div>
                <img src="{% static 'images/help.png' %}" class="card-img-top img-fluid" alt="24/7 Support">
            </div>
        </div>
    </div>
</div>
-->