{% load static %}

<div class="p-0 mt-0 d-block w-100 text-center py-2"
     style="background-image: url('/static/images/hero_illustration.svg'); background-size:fit; background-repeat: no-repeat; background-position: center;">
    <div class="mb-4">
        <h1 class="fs-1 fw-bold">Convert Currency Instantly</h1>
        <h1 class="fs-1 fw-bold">-Anytime, Anywhere</h1>
        <p class="fs-5 mb-0 mt-4">Effortlessly convert your funds to any currency &</p>
        <p class="fs-5 mt-0">Transfer them securely to any bank account worldwide!</p>

        <a href="{% url 'userauths:login'%}" class="btn btn-success ms-3 px-4 shadow-sm rounded-pill me-3 mt-2">Login</a>
        <a href="{% url 'userauths:register'%}" class="btn btn-success ms-3 px-4 shadow-sm rounded-pill me-3 mt-2">Get Started</a>
        <br/>
        <br/>
        <br/>
    </div>

    <div class="mb-4 mt-4">
        <h1 class="fs-1 fw-bold mb-0">Unlock Global Conversion Power</h1>
        <h1 class="fs-1 fw-bold text-success mt-0">with SwapIT</h1>

    </div>
</div>