<!--
{% load static %}

<div class="container mt-4">
    <div class="row">
        <!- Sub-div 1 ->
        <div class="col-12 col-md-4 mb-3">
        <div class="p-3 border rounded text-center">
            <h5>USDT</h5>
            <p>Performance: <span class="text-success">+1.2%</span></p>
        </div>
        </div>
        <!- Sub-div 2 ->
        <div class="col-12 col-md-4 mb-3">
        <div class="p-3 border rounded text-center">
            <h5>POUNDS</h5>
            <p>Performance: <span class="text-danger">-1.2%</span></p>
        </div>
        </div>
        <!- Sub-div 3 ->
        <div class="col-12 col-md-4 mb-3">
        <div class="p-3 border rounded text-center">
            <h5>EUROS</h5>
            <p>Performance: <span class="text-success">+1.2%</span></p>
        </div>
        </div>
    </div>
</div>
-->